@import url(https://fonts.googleapis.com/css?family=Nunito);* {
    margin: 0;
    padding: 0;
}

body {
    background: #F0F2F5;
    font-family: 'Nunito';
}

.main {
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    border-radius: .5rem;
    padding: 10px;
    border: 1px solid #ddd;
}

.main > h2 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
